/* BASE */
.wizard-steps{
    display:none;
}
.wizard-steps > h2{
    margin-top: 5px;
    font-size: 1.7em;
}
.wizard-steps .breadcrumb{
    margin-bottom:0;
}

#wizardStep1{
    display:block;
}

#wizard-error-message{
    display:none;
    background: #D54E21;
}
    #wizard-error-message p{
        margin: 0;
        padding: 10px 5px;
        color: #fff;
    }

.wizard-main-col{
    float:left;
    width:100%;
    max-width:570px;
    margin-top:20px;
}

.wizard-aside-col{
    float:left;
    width:100%;
    max-width:282px;
    margin-left:20px;
    margin-top:20px;
}
@media screen and (max-width: 1095px) {
    .wizard-aside-col{
        clear:both;
        margin-left:0;
    }
}

.postbox h3{
    font-size: 14px;
    padding: 8px 12px;
    margin: 0;
    line-height: 1.4;
    border-bottom: 1px solid #eee;
}

.wizard-steps-control{
    margin-top:40px;
}
    .wizard-steps-control .button{
        position:relative;
        top:-3px;
        margin-right:5px;
    }

#TB_window{
    margin-left: -150px!important;
    width: 300px!important;
}
#TB_ajaxContent{
    width:300px!important;
    box-sizing: border-box;
}
#TB_window .delete-button{margin-right: 10px;}
#TB_confirm{width:300px;}


/* STEP 1 */
.wizard-steps .form-new-list{
    display:none;
}
    .wizard-steps .form-new-list h4{
        font-size: 1.3em;
    }

    .options-type-of-form{margin-bottom:30px;}
    @media screen and (max-width: 399px) {
        .options-type-of-form{text-align: center;}
    }

    .options-type-of-form label > input{
        visibility: hidden;
        position: absolute;
    }
        label > input + img{
            cursor:pointer;
            border:2px solid #e5e5e5;
            margin:0 3px 3px 0;
        }
        .options-type-of-form--selected label > input + img{
            opacity:.6;
        }
        label > input:checked + img{
            border:2px solid #009fd4;
            opacity:1;
        }

.wizard-steps .confirmation-url{
    display:none;
}


/* STEP 2 */
#wizard-form-fields{
    margin-bottom:40px;
}
    #wizard-form-fields tbody tr td{
        padding:17px 30px 16px 2px;
    }
    #wizard-form-fields tbody tr th{padding-top:20px;}

    #wizard-form-fields .label-is-enabled{
        float:left;
        color:#000;
        font-weight:bold;
        font-size:14px;
    }

    #wizard-form-fields .fields-extra-config{float:right;}
        #wizard-form-fields .fields-extra-config input{margin-left:10px;}

    #wizard-form-fields .description{
        clear:both;
        font-style:normal;
        margin-bottom:2px;
    }

    #wizard-form-fields td .description--class{
        margin-top:8px;
    }

    #wizard-form-fields input[type=text]{width:100%;}

    .field-options{
        clear: both;
        margin: 2px 0 0 0;
        line-height: 1rem;
    }
        .field-options li{
            display: inline-block;
            line-height: .9rem;
        }
        .field-options li:first-child{
            margin-right: 8px;
            padding-right: 8px;
            border-right: 1px solid #999;
        }
            .field-options li .delete-field{color:#a00;}
    
    .additional-field .fields-extra-config{margin-top: -50px;}
    @media screen and (max-width: 550px){
        #wizard-form-fields .label-is-enabled{
            margin-bottom: 15px;
        }
        #wizard-form-fields .fields-extra-config{
            float: none;
            margin-top: 10px;
            margin-bottom: 10px;
            clear: both;
        }
            #wizard-form-fields .fields-extra-config input:first-child{
                margin-left: 0;
            }
        
        #wizard-form-fields .check-column input{
            margin-left: 5px;
        }
    }


    #wizard-form-fields tfoot td{
        padding:16px 10px;
    }
    @media screen and (max-width: 782px){
        #wizard-form-fields tfoot td{
            display: table-cell;
        }
    }

    #wizard-form-fields tfoot .field-generator{
        display:none;
        padding:0 26px;
    }
        #wizard-form-fields tfoot .field-generator h3{
            font-size: 14px;
            margin:0 0 2px;
        }
        #wizard-form-fields tfoot .field-generator label{
            font-size:12px;
            display:block;
        }
        #wizard-form-fields tfoot .field-generator input[type=text]{
            margin-bottom:10px;
            margin-left:0;
            padding: 6px 10px;
        }
        #wizard-form-fields tfoot .field-generator select{
            width:100%;
        }
        #wizard-form-fields tfoot .field-generator #bt-generate-field{
            display:block;
            margin-top:17px;
            margin-right: 10px;
            float: left;
        }
        #wizard-form-fields tfoot .field-generator .cancel-field{
            float: left;
            margin-top: 20px;
        }

    #wizard-form-fields .additional-field .label-is-enabled{
        margin: 0 10px 10px 0;
    }

        #wizard-form-fields .fields-rename-field{display:none;}
        #wizard-form-fields .fields-rename-field--active{display:block;}

            #wizard-form-fields .fields-rename-field input[type=text]{
                max-width: 440px;
                clear: both;
                float: left;
            }
            #wizard-form-fields .fields-rename-field input[type=button]{
                margin: 0 0 0 6px;
                float:left;
            }

    #wizard-form-fields .options-field{
        width: 100%;
        margin-top: 10px;
        height: 90px;
    }

    #wizard-form-fields .options-field-hidden{display:none;}
    #wizard-form-fields .isMultiSelectMany, #wizard-form-fields .isMultiSelectOne{display:block;}

    .alert-disconnected{
        padding: 7px 7px 7px 10px;
        border: 1px solid #EAEAEA;
        border-left: 4px solid #DD2C1E;
        font-size: 12px;
    }
    
    .badge-img{margin: 0 3px -3px 3px;}


/* STEP 3 */
.form-type label{
    display:block;
    margin-bottom:10px;
}

.form-type .auxiliar-data{
    margin-left:24px;
}
    .form-type .auxiliar-data input{
        width:90px;
        margin-left:10px;
    }

.form-type .default-locked{
    color:#a6a6a6;
}
    .form-type .default-locked--unlocked{
        color:#444;
    }

.insert-pages{
    display:none;
    margin-left: 24px;
    margin-top: 20px;
}
.insert-pages--visible{display:block;}
    .insert-pages input{
        float: left;
        margin-top: 1px;
        margin-right: 6px;
    }
    .insert-pages label{font-weight: 600;}
    .insert-pages textarea{margin-top:10px;}
    .insert-pages textarea.hidden-options{display:none;}



/* EDIT WIZARD */

#wizard-edit{
    display: block;
}

#wizard-edit > h3, #wizard-edit .wizard-main-col > h3{
    margin-bottom: 0;
    margin-top: 35px;
    font-size: 1.5em;
}

.form-table{margin-bottom:40px;}

#post-status-select{
    display:none;
    margin-top:10px;
}

#publishing-action{
    text-align:left;
    float:left;
}

.misc-pub-section{padding:0;}

#publishing-action .spinner{display:none;}

#major-publishing-actions{background:#fff;}
